
.Traffic-top{
    width: 1.5rem;
    height: 12rem;
    margin: auto;
    background-color: black;
}

.Traffic-container{
    width: 10rem;
    height: 28rem;
    background-color: black;
    margin: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Traffic-red{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: red;
  
}
.Traffic-yellow{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: yellow;
}
.Traffic-green{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: green;
}

.light{
    box-shadow:  0 0 80px yellow;
}